@font-face {
  font-family: "iconfont"; /* Project id 5088108 */
  src: url('iconfont.woff2?t=1765636686581') format('woff2'),
       url('iconfont.woff?t=1765636686581') format('woff'),
       url('iconfont.ttf?t=1765636686581') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cursor:before {
  content: "\e7b1";
}

.icon-loading:before {
  content: "\e891";
}

.icon-search:before {
  content: "\e615";
}

.icon-close:before {
  content: "\e610";
}

.icon-menu:before {
  content: "\e677";
}

.icon-setting:before {
  content: "\e8d8";
}

.icon-arrow:before {
  content: "\e695";
}

.icon-next:before {
  content: "\e600";
}

.icon-save:before {
  content: "\e6ed";
}

.icon-fuzhi:before {
  content: "\e8b0";
}

.icon-listen:before {
  content: "\e6e5";
}

.icon-More:before {
  content: "\e60d";
}

.icon-check:before {
  content: "\e639";
}

.icon-pause:before {
  content: "\e7fe";
}

.icon-play:before {
  content: "\e625";
}

