body,
#app {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: var(--font);
}
:root {
  --font: #505050;
  --bg: rgb(250, 235, 215);
  --fontSize: 18px;
  --border: rgba(0, 0, 0, 0.05);
}
@font-face {
  font-family: "msyh";
  src: url(/msyh.ttf);
}
* {
  box-sizing: border-box !important;
  font-family: "msyh";
}
.more-icon {
  display: inline-block;
  content: url(/more.svg);
}
.search-icon {
  display: inline-block;
  content: url(/search.svg);
}
.back-icon {
  display: inline-block;
  content: url(/back.svg);
}
.book-icon {
  display: inline-block;
  content: url(/book.svg);
}
.setting-icon {
  display: inline-block;
  content: url(/setting.svg);
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-icon {
  display: inline-block;
  content: url(/loading.svg);
  animation: rotating 1s linear infinite;
}
.listen-icon {
  display: inline-block;
  content: url(/listen.svg);
}
.play-icon {
  display: inline-block;
  content: url(/play.svg);
}
.pre-icon {
  display: inline-block;
  content: url(/pre.svg);
}
.next-icon {
  display: inline-block;
  content: url(/next.svg);
}
.stop-icon {
  display: inline-block;
  content: url(/stop.svg);
}
.save-icon {
  display: inline-block;
  content: url(/save.svg);
}
.close-icon {
  display: inline-block;
  content: url(/close.svg);
}
::-webkit-scrollbar {
  background-color: transparent;
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
.chapter-title {
  font-weight: bold;
  text-align: center;
  white-space: wrap;
}
.search-box {
  padding: 10px;
  display: flex;
  align-items: center;
  & > .search {
    flex: 1;
    border-radius: 20px;
    border: solid 1px #ccc;
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 10px;
  }

  input[type="text"] {
    flex: 1;

    border: none;
    background-color: transparent;
    text-align: center;
    outline: none;
  }
  i {
    width: 20px;
    height: 20px;
  }
}
::highlight(search-highlight) {
  background-color: yellow;
  color: black;
}

.drawer-bg {
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 3;
  .drawer-blank {
    height: 10%;
  }
  .drawer-body {
    border-radius: 10px 10px 0 0;
    height: 90%;
    overflow: hidden;
    background-color: var(--bg);
  }
}
input[type="range"] {
  width: 100%;

  background-color: #ccc;
  border-radius: 4px;
  height: 4px;

  &::-webkit-slider-thumb {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    /*可以修改滑块的若干样式*/
    background-color: dodgerblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
